#!/bin/bash

# Paths (Note all paths tailing with "/" char)
export GATKPATH="/hpcf/apps/gatk/install/3.4"
export PICARDPATH="/home/swang/app/picard-tools-1.129"
export JAVATMP="/tmp"
export data_dir="/home/swang/data"

# standard references
export ref_genome="${data_dir}/ref_genome/hg19.fa"

# databases
export dbSNP="${data_dir}/hg19/dbsnp_138.hg19.vcf"
export dbSNP_129="${data_dir}/hg19/dbsnp_138.hg19.excluding_sites_after_129.vcf"
export thousandgenome_snp="${data_dir}/hg19/1000G_phase1.snps.high_confidence.hg19.vcf"
export thousandgenome_indel="${data_dir}/hg19/1000G_phase1.indels.hg19.vcf"
export mills_indel="${data_dir}/hg19/Mills_and_1000G_gold_standard.indels.hg19.vcf"
export omni="${data_dir}/hg19/1000G_omni2.5.hg19.vcf"
export hapmap="${data_dir}/hg19/hapmap_3.3.hg19.vcf"
